// Navbar

.navbar {
	@include padding(1rem null);

	.container-fluid,
	.container {
		display: flex;
		align-items: center;
		gap: 3rem;
	}

	.navbar-toggler {
		padding: 0.25rem 0.75rem;
		font-size: 1.25rem;
		line-height: 1;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 0.25rem;

		@media (min-width: 992px) {
			display: none;
		}
	}

	.navbar-toggler-icon {
		display: inline-block;
		cursor: pointer;

		.bar1,
		.bar2,
		.bar3 {
			width: 35px;
			height: 5px;
			background-color: $black;
			margin: 6px 0;
			transition: 0.4s;
		}

		&.close {
			.bar1 {
				-webkit-transform: rotate(-45deg) translate(-9px, 7px);
				transform: rotate(-45deg) translate(-9px, 7px);
			}

			.bar2 {
				opacity: 0;
			}

			.bar3 {
				-webkit-transform: rotate(45deg) translate(-8px, -8px);
				transform: rotate(45deg) translate(-8px, -8px);
			}
		}
	}

	.navbar-collapse {
		@media (max-width: 991.98px) {
			position: absolute;
			flex-basis: 100%;
			flex-grow: 1;
			align-items: center;
			top: 0;
			width: 77%;
			height: 100vh;
			padding: 4rem 1.2rem 0;
			overflow-x: hidden;
			z-index: 2;
			transition: 0.4s;

			&:not(.show) {
				left: -100%;
			}

			&.show {
				left: 0;
			}
		}

		@media (min-width: 992px) {
			display: flex;
			flex-basis: auto;
		}
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		z-index: 1080;

		@media (min-width: 992px) {
			flex-direction: row;
		}

		&.has-dropdown-menu-to-left {
			.dropdown-menu {
				right: 0;

				.dropdown-menu {
					top: 0;
					right: 100%;
				}
			}
		}

		&.has-dropdown-menu-to-right {
			.dropdown-menu {
				left: 0;

				.dropdown-menu {
					top: 0;
					left: 100%;
				}
			}
		}
	}

	.nav-item {
		.nav-link {
			display: block;
			padding: 0.5rem 0;
			font-size: 1rem;
			text-decoration: none;

			@media (min-width: 992px) {
				padding: 0.5rem 1rem;
			}
		}

		&.active {
			.nav-link {
				text-decoration: underline;
			}
		}
	}

	.dropdown {
		position: relative;
		display: inline-block;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 15px;
			border-style: solid;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 2px;
			transform: translateY(-80%) rotate(45deg);
			-webkit-transform: translateY(-80%) rotate(45deg);

			@media (min-width: 992px) {
				right: 0;
			}
		}

		// Show the dropdown menu
		&:hover {
			& > .dropdown-menu {
				display: block;
			}
		}
	}

	.dropdown-menu {
		display: none;
		min-width: 160px;
		padding: 0;
		list-style: none;

		a {
			display: block;
			padding: 8px 15px;

			&:hover {
				background-color: lighten($primary, 5%);
			}
		}

		@media (min-width: 992px) {
			position: absolute;
			background-color: $white;

			a {
				color: $white;
			}
		}
	}
}
