// Project Excerpt

.projects-list {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.project-item {
	position: relative;
	width: 100%;
	color: $white;
	background-color: $overlay;
	overflow: hidden;

	figure {
		display: flex;
		margin: 0;
		width: 100%;
		height: 100%;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			min-height: 300px;
			max-height: 300px;
		}
	}

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) {
		width: 33.333%;

		figure {
			img {
				min-height: 400px;
				max-height: 400px;
			}
		}
	}

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) {
		width: 25%;

		figure {
			img {
				min-height: 500px;
				max-height: 500px;
			}
		}
	}

	// X-Large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) {
	}

	// XX-Large devices (larger desktops, 1400px and up)
	@media (min-width: 1400px) {
		figure {
			img {
				min-height: 600px;
				max-height: 600px;
			}
		}
	}

	.infos {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		padding: 0.5rem;
		background: rgba($overlay, 0.85);
		transition: all 0.3s ease-in-out;
		opacity: 0;

		&:hover,
		&:focus,
		&:active {
			opacity: 1;
		}

		.title {
			font-weight: bold;
			font-size: 1.4rem;
		}

		.excerpt {
			font-size: 0.875rem;
		}

		.categories {
			position: absolute;
			bottom: 0;
			width: 100%;
			margin: 0;
			padding: 0.5rem;
			padding-inline-start: 0;
			list-style: none;
			font-size: 0.875rem;
		}

		@media (min-width: 992px) {
			padding: 1rem;

			.title {
				font-size: 1.8rem;
			}

			.excerpt {
				font-size: 1rem;
			}

			.categories {
				padding: 1rem;
				font-size: 0.875rem;
			}
		}
	}
}
