// Search Form

.search-form {
	display: flex;
	width: 100%;
	margin-bottom: 2rem;

	@media (max-width: 991.98px) {
		flex-direction: column;
	}

	.search-label {
		display: none;
	}

	.search-field {
		flex-grow: 1;
		@include padding(null 0.5rem);
		@include border-left-radius(0.25rem);

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) {
			flex-basis: 50%;
		}
	}

	.search-filter {
		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) {
			flex-basis: 45%;
			border-left: none;
		}
	}

	.search-submit {
		text-transform: uppercase;
		@include border-right-radius(0.25rem);
		color: $buttonText;
		background: $buttonBackground;
		transition: all 0.15s;

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) {
			flex-basis: 5%;
		}

		&:hover,
		&:active,
		&:focus {
			background-color: darken($buttonBackground, 5%);
		}
	}

	.search-field,
	.search-submit {
		border: 1px solid $inputBorder;
		font-size: 1rem;
	}

	.search-field,
	.search-filter,
	.search-submit {
		// Medium devices (tablets, less than 992px)
		@media (max-width: 991.98px) {
			margin-bottom: 0.5rem;
			border-radius: 0.25rem;
		}
	}
}
