/* Select Input Wrapper */

.select-wrapper {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 0.75rem;
		border-style: solid;
		border-width: 0 2px 2px 0;
		border-color: $inputBorder;
		display: inline-block;
		padding: 2px;
		transform: translateY(-130%) rotate(45deg);
		-webkit-transform: translateY(-130%) rotate(45deg);

		@media (min-width: 992px) {
			transform: translateY(-80%) rotate(45deg);
			-webkit-transform: translateY(-80%) rotate(45deg);
		}
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		/* IE11 hide native button */
		&::-ms-expand {
			display: none;
		}
	}
}
