form {
	p {
		margin-bottom: 1.6rem;
	}

	label {
		margin: 0;
		width: 100%;
		color: $inputText;
	}

	span {
		font-size: 1rem;
		font-weight: 500;
		text-transform: none;
	}
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select {
	width: 100%;
	min-height: 2rem;
	padding: 8px;
	font-size: 0.875rem;
	color: $inputText;
	border: none;
	border-bottom: 1px solid $inputBorder;
	border-radius: 0;
	background: transparent;
	background-clip: padding-box;
	box-sizing: border-box;
}

input[type="checkbox"] {
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 0.25rem;
}

button[type="submit"],
input[type="submit"] {
	display: block;
	min-height: 2rem;
	padding: 0.875rem 2.25rem;
	border: none;
	border-radius: 0;
	color: $buttonText;
	background: $buttonBackground;
	box-sizing: border-box;
	cursor: pointer;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;

	&:hover,
	&:active,
	&:focus {
		background-color: darken($buttonBackground, 5%);
	}
}

textarea {
	min-height: 50px;
}

select {
	position: relative;
	width: 100%;
	border-radius: 0;
	font-size: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	transition: background-color 5000s ease-in-out 0s;
	border: none;
	border-bottom: 1px solid $inputBorder;
	box-shadow: 0 0 0 1000px transparent inset;
	-webkit-text-fill-color: $inputText;
}

::placeholder {
	color: $inputText;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $inputText;
}

::-ms-input-placeholder {
	color: $inputText;
}
