// Footer
.footer {
	font-size: 0.875rem;
	background-color: $background;
	color: $textBase;
}

.footer-widgets {
	padding: 2rem 0;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;

		@media (min-width: 992px) {
			flex-direction: row;
			text-align: initial;
		}
	}

	.widget {
		ul {
			@media (min-width: 992px) {
				padding: initial;
			}
		}

		.widget-title {
			color: $primary;
			font-weight: bold;
		}
	}

	// Change Gallery Widget to Display Grid
	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;

		.gallery-item {
			width: auto !important;
			margin: 0 !important;
		}

		@media (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;

			.gallery-item {
				width: auto !important;
				margin: 1rem !important;
			}
		}
	}
}

.footer-copyright {
	border-top: 1px solid #e8e8e8;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
		flex-direction: column;
		gap: 1rem;
		text-align: center;

		@media (min-width: 992px) {
			flex-direction: row;
			text-align: initial;
		}
	}

	span {
		display: flex;
		align-items: center;
		line-height: 1;
	}
}
