// Header

#header {
	.navbar {
		width: 100%;
		z-index: 1080;
		color: $white;
		background: $black;
		-webkit-transition: position 0.5s, top 0.5s, background 0.5s;
		-moz-transition: position 0.5s, top 0.5s, background 0.5s;
		-o-transition: position 0.5s, top 0.5s, background 0.5s;
		transition: position 0.5s, top 0.5s, background 0.5s;

		&.sticky {
			position: fixed;
			top: 0;
			width: 100%;
		}

		@media (max-width: 991.98px) {
			.custom-logo-link {
				flex: 1;
			}
		}
	}

	.navbar-brand {
		max-width: 180px;
		max-height: 38px;

		&.alt {
			display: none;
		}
	}

	.navbar-toggler {
		order: 99;
	}

	.navbar-toggler-icon {
		.bar1,
		.bar2,
		.bar3 {
			background-color: $background;
		}
	}

	.navbar-collapse {
		@media (max-width: 991.98px) {
			background: $black;
		}
	}

	.nav-item {
		&.active {
			.nav-link {
				text-decoration: none;
				font-weight: bold;
				color: $primary;
			}
		}
	}

	.social-networks {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		margin-left: auto;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.5rem;
			height: 1.5rem;
			font-size: 0.875rem;
			line-height: 0;
			text-decoration: none;
			border-radius: 50%;
			color: $black;
			background: $white;
		}
	}

	.header-inner {
		position: relative;
		display: flex;
		min-height: 400px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		.container {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: flex-end;
			z-index: 10;
		}
	}

	.header-title {
		font-size: 1.7em;
		font-weight: 500;

		@media (min-width: 992px) {
			font-size: 2.7em;
		}
	}
}
