// Block Media and Text - Style Content on Box

.is-style-content-on-box {
	&__blue,
	&__red {
		.block-editor-block-list__layout.wp-block-media-text__content {
			max-width: 80%;
		}

		.wp-block-media-text__content {
			position: relative;
			padding: 2rem;
			background: #ffffff;

			@media (min-width: 992px) {
				max-width: 80%;
				margin-left: auto;
				margin-right: 1rem;
			}

			@media (min-width: 1400px) {
				max-width: 60%;
			}

			&::before {
				content: "\7b";
				font-family: "ElegantIcons";
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;

				position: absolute;
				top: 0;
				right: 0.5rem;
				color: black;
				font-size: 4rem;
			}
		}
	}

	&__blue {
		.wp-block-media-text__content {
			border-top: 5px solid #0f76bdff;

			&::before {
				color: #0f76bdff;
			}
		}
	}

	&__red {
		.wp-block-media-text__content {
			border-top: 5px solid #c12026ff;

			&::before {
				color: #c12026ff;
			}
		}
	}
}
