// Types

body {
	font-family: "SF Pro Display", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1.15rem;
	line-height: 1.5;
	color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "SF Pro Display", sans-serif;
	font-weight: normal;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	&.has-background {
		@include margin(0 null);
		@include padding(1.25rem 2.375rem);

		& + & {
			@include padding(0 null null);
		}
	}
}
