// Block Gallery

.wp-block-gallery {
	&.has-nested-images {
		@media (max-width: 575.98px) {
			figure.wp-block-image:not(#individual-image):not(.block-editor-block-list__block) {
				flex-grow: unset;
			}
		}

		@media (min-width: 992px) {
			&.columns-3 {
				figure.wp-block-image:not(#individual-image) {
					max-width: calc(33.33333% - var(--gallery-block--gutter-size, 16px) * 0.66667em);
				}
			}

			&.columns-4 {
				figure.wp-block-image:not(#individual-image) {
					max-width: calc(25% - var(--gallery-block--gutter-size, 16px) * 0.75em);
				}
			}

			&.columns-5 {
				figure.wp-block-image:not(#individual-image) {
					max-width: calc(20% - var(--gallery-block--gutter-size, 16px) * 0.8em);
				}
			}

			&.columns-6 {
				figure.wp-block-image:not(#individual-image) {
					max-width: calc(16.66667% - var(--gallery-block--gutter-size, 16px) * 0.83333);
				}
			}

			&.columns-7 {
				figure.wp-block-image:not(#individual-image) {
					max-width: calc(14.28571% - var(--gallery-block--gutter-size, 16px) * 0.85714em);
				}
			}

			&.columns-8 {
				figure.wp-block-image:not(#individual-image) {
					max-width: calc(12.5% - var(--gallery-block--gutter-size, 16px) * 0.875em);
				}
			}
		}
	}
}
