// 404 Error Page

.error404 {
	.error-message {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 80vh;
		text-align: center;
		color: $textBase;

		& > span {
			font-size: 8rem;
			font-weight: bold;
			line-height: 1;
			color: $primary;

			@media (min-width: 992px) {
				font-size: 16rem;
			}
		}

		.page-title {
			margin-bottom: 2rem;
			text-transform: uppercase;
			font-weight: bold;
		}

		& > p {
			font-size: 2em;
			margin-bottom: 2rem;
		}

		& > a {
			display: inline-block;
			padding: 7px 25px;
			text-transform: uppercase;
			border-radius: 0;
			font-weight: 600;
			color: $buttonText;
			background: $buttonBackground;
			box-sizing: border-box;
			text-decoration: none;
			transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;

			&:hover,
			&:active,
			&:focus {
				color: darken($buttonText, 5%);
				background: darken($buttonBackground, 5%);
			}
		}
	}
}
