// Color Pallete
// https://coolors.co/f3783a-f3722c-c12026-f2f2f2-bcc5cf-8d9aa8-263a4f-0f76bd

$black: #000000;
$white: #ffffff;
$background: #ffffff;
$primary: #f3722cff;
$overlay: #263a4fff;
$titleInPrimary: #000000;
$textInPrimary: #000000;
$textTitle: #263a4fff;
$textBase: #263a4fff;
$inputText: #8d9aa8ff;
$inputBorder: #8d9aa8ff;
$inputBackground: #ffffff;
$buttonBackground: #263a4fff;
$buttonText: #ffffff;
